################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KarnelTravels/FileContentIndex/0dcfd825-8e8c-4df6-9e2c-c6a4a7da82ff.vsidx
/.vs/KarnelTravels/FileContentIndex/1ea30baf-362e-4918-b8ed-d2d1a2e60a9b.vsidx
/.vs/KarnelTravels/FileContentIndex/569912bb-7df5-4152-9713-cae30c4acdea.vsidx
/.vs/KarnelTravels/FileContentIndex/7d6827fd-d9e0-4c39-ab4b-cde4e18a3ccd.vsidx
/.vs/KarnelTravels/FileContentIndex/b0678930-2e77-4329-87ea-d119d51631e7.vsidx
/.vs/KarnelTravels/FileContentIndex/569912bb-7df5-4152-9713-cae30c4acdea.vsidx
/.vs/KarnelTravels/FileContentIndex/b0678930-2e77-4329-87ea-d119d51631e7.vsidx
/.vs/KarnelTravels/FileContentIndex/569912bb-7df5-4152-9713-cae30c4acdea.vsidx
/.vs/KarnelTravels/FileContentIndex/b0678930-2e77-4329-87ea-d119d51631e7.vsidx
/.vs/KarnelTravels/FileContentIndex/1fb335be-7979-4ac6-98a9-b5c7d62dc70a.vsidx
/.vs/KarnelTravels/FileContentIndex/5e92bfe5-56e6-44d4-95da-3d53f01bb022.vsidx
