################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KarnelTravels/FileContentIndex/569912bb-7df5-4152-9713-cae30c4acdea.vsidx
/.vs/KarnelTravels/FileContentIndex/58439721-9106-4ce1-a132-294d15d46d95.vsidx
/.vs/KarnelTravels/FileContentIndex/6bf0c887-2eb6-4dc0-a8be-15f38e17be8c.vsidx
/.vs/KarnelTravels/FileContentIndex/727b2f78-3fc3-45aa-b766-8ffdee193f8f.vsidx
/.vs/KarnelTravels/FileContentIndex/b0678930-2e77-4329-87ea-d119d51631e7.vsidx
/.vs/KarnelTravels/FileContentIndex/e2fcd182-2899-4efe-a24d-1b5e76bf228f.vsidx
/.vs/KarnelTravels/FileContentIndex/e5f3ced8-5bec-4273-b394-a02d7f23565b.vsidx
/.vs/KarnelTravels/FileContentIndex/1ea30baf-362e-4918-b8ed-d2d1a2e60a9b.vsidx
/.vs/KarnelTravels/FileContentIndex/62f5791b-8a64-4dea-907f-4e30fa851265.vsidx
/.vs/KarnelTravels/FileContentIndex/7d6827fd-d9e0-4c39-ab4b-cde4e18a3ccd.vsidx
/.vs/KarnelTravels/FileContentIndex/85e92776-3225-4cc0-acd8-1c9bb7f0b927.vsidx
