<!-- Views/User/NewsListPartial.cshtml -->
@model IEnumerable<KarnelTravels.Models.TblNewsWithImageUrls>

<div class="row g-4">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <a href="@Url.Action("NewsDetail", "Home", new { id = item.NewsItem.NewsId })" class="text-decoration-none">
                <img src="@($"/img/{item.NewsItem.NewsObject}/{item.ImageUrls.FirstOrDefault()?.Url}")" alt="Description" style="width: 100%; height: auto;">
                <h2>@item.NewsItem.Description</h2>
            </a>
        </div>
    }
</div>
