@model KarnelTravels.Models.TouristPlaceUserViewModel

@{
    ViewData["Title"] = "Sight Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!-- Property List Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="tab-content">
            <a href="javascript:history.back()">Go Back</a>
            <hr />
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-4 wow fadeInUp h-100" style="height:100%" data-wow-delay="0.5s">
                        <a>
                            @foreach (var imageUrl in Model.ImageUrl)
                            {
                                <img src="~/img/TblTourist_Place/@Url.Content(imageUrl)" class="img-fluid" alt="Tourist Place Image">
                            }
                        </a>
                    </div>
                    <div class="col-lg-8 col-md-8 wow fadeInUp" style="height:100%" data-wow-delay="0.5s">
                        <div class="p-4 pb-0">
                            <a class="d-block h5 mb-2">@Model.Name</a>
                            <p>
                                <strong>
                                    Customer Rating:
                                </strong>
                                <i class="fa fa-star" style="color:#8B8000" aria-hidden="true"></i> 5.0
                                &nbsp;&nbsp;<span>
                                    <a class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#commentModal"
                                       data-feedback-object="Tourist_Place" data-object-id=@Model.Id>
                                        Already tried? Rate this service
                                    </a>
                                </span>
                            </p>
                            <p>
                                <strong>Status: </strong>
                                @if (Model.Status == "true")
                                {
                                    <span style="color:limegreen">Is currently active</span>
                                }
                                else
                                {
                                    <span style="color:red">Closed for Maintenance</span>
                                }
                            </p>
                            <p>
                                @Html.Raw(@Model.Description)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row mt-4">
                        @foreach (var imageUrl in Model.ImageUrl)
                        {
                            <div class="col-lg-4 col-md-4 wow fadeInUp" style="height:100%" data-wow-delay="0.5s">
                                <div class="card h-100">
                                    <img class="card-img-top" src="~/img/TblTourist_Place/@Url.Content(imageUrl)" height="200px" width="auto" alt="">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
