@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@model ViewTravelUser;
<!-- Property List Start -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="tab-content">
            <a href="javascript:history.back()">Go Back</a>
            <hr/>
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-4 wow fadeInUp h-100" style="height:100%" data-wow-delay="0.5s">
                        <a><img class="img-fluid" src="/img/Travel/@Model.travelImg.url" alt=""></a> 
                    </div>
                    <div class="col-lg-8 col-md-8 wow fadeInUp" style="height:100%" data-wow-delay="0.5s">
                        <div class="p-4 pb-0">
                            <a class="d-block h5 mb-2">Transportation Route: </a><span><h5 class="text-primary mb-3"> @Model.travelImg.Name</h5></span>
                            <p>
                                <strong>
                                    Customer Rating:
                                </strong>
                            </p>
                            <p><strong>Status: </strong>
                                @if(Model.travelImg.Status == "true")
                                {
                                    <span style="color:limegreen">Is currently active</span>
                                }
                                else
                                {
                                    <span style="color:red">Stopped transporting</span>
                                }
                            </p>
                            <p>
                                <strong>
                                    Customer Rating:
                                </strong>
                                <i class="fa fa-star" style="color:#8B8000;" aria-hidden="true"></i>
                                <span class="star-rating">5.0</span>
                                &nbsp;&nbsp;<span>
                                    <a class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#commentModal"
                                       data-feedback-object="Travel" data-object-id="@Model.travelImg.TravelId">
                                        Already tried? Rate this service
                                    </a>
                                </span>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row wow fadeInUp" data-wow-delay="0.5s">
            @foreach (var item in Model.tblImageUrls)
            {
                <div class="col-lg-4 col-md-4 wow fadeInUp" style="height:100%" data-wow-delay="0.5s">
                   <div class="card h-100">
                        <img class="card-img-top" src="/img/Travel/@item.Url" height="200px" width="auto" alt="">
                   </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Property List End -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var travelId = '@Model.travelImg.TravelId'; // Get the Travel ID from the model
        var object = "Travel";
        $.ajax({
            url: '@Url.Action("GetStarRating", "Home")', // Ensure the controller and action names are correct
            type: 'GET',
            data: { Id: travelId, Object: object },
            success: function (data) {
                $('.star-rating').text(data.toFixed(1)); // Update all elements with class 'star-rating'
            },
            error: function (xhr, status, error) {
                console.error("Error fetching star rating: " + error);
            }
        });
    });
</script>



