@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@model ViewTravelUser;
<!-- Property List Start -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="tab-content">
            <a href="javascript:history.back()">Go Back</a>
            <hr/>
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-4 wow fadeInUp h-100" style="height:100%" data-wow-delay="0.5s">
                        <a><img class="img-fluid" src="/img/Travel/@Model.travelImg.url" alt=""></a> 
                    </div>
                    <div class="col-lg-8 col-md-8 wow fadeInUp" style="height:100%" data-wow-delay="0.5s">
                        <div class="p-4 pb-0">
                            <a class="d-block h5 mb-2">Transportation Route: </a><span><h5 class="text-primary mb-3"> @Model.travelImg.Name</h5></span>
                            <p>
                                <strong>
                                    Customer Rating:
                                </strong>
                                <span><i class="fa fa-star" style="color:#8B8000" aria-hidden="true"></i> 5.0</span>
                                &nbsp;<span><a class="btn btn-outline-warning" data-bs-toggle="pill" href="#tab-1">Already tried ? Rate this service</a></span>
                            </p>
                            <p><strong>Status: </strong>
                                @if(Model.travelImg.Status == "true")
                                {
                                    <span style="color:limegreen">Is currently active</span>
                                }
                                else
                                {
                                    <span style="color:red">Stopped transporting</span>
                                }
                            </p>
                            <p>
                                <strong>Estimation price (per trip):  </strong>
                                @Model.travelImg.Price
                            </p>
                            <p>
                                @Html.Raw(@Model.travelImg.Description)
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp" data-wow-delay="0.5s">
            @foreach (var item in Model.tblImageUrls)
            {
                <div class="col-lg-4 col-md-4 wow fadeInUp" style="height:100%" data-wow-delay="0.5s">
                    <img class="img-fluid" src="/img/Travel/@item.Url" height="200px" alt="">
                </div>
            }
        </div>
    </div>
</div>
<!-- Property List End -->
