<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KarnelTravels</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KarnelTravels.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">KarnelTravels</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
<<<<<<< HEAD
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
=======
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a asp-controller="Home" asp-action="Index" class="nav-item nav-link active">Home</a>
                        <a asp-controller="Home" asp-action="TravellingPackageView" class="nav-item nav-link">Package Travelling</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Travelling</a>
                            
                            <div class="dropdown-menu rounded-0 m-0">
                                <a asp-controller="Home" asp-action="TravellingTransportView" class="dropdown-item">Transportation</a>
                                <a asp-controller="Home" asp-action="TravellingSightView" class="dropdown-item">Sights</a>
                                <a asp-controller="Home" asp-action="TravellingHotelView" class="dropdown-item">Hotels & Resort</a>
                                <a asp-controller="Home" asp-action="TravellingRestaurantView" class="dropdown-item">Restaurants</a>
                                <a asp-controller="Home" asp-action="TravellingTourView" class="dropdown-item">Tours</a>
                            </div>
                        </div>
                        <a asp-controller="Home" asp-action="NewsView" class="nav-item nav-link">News</a>
                        <a asp-controller="Home" asp-action="AboutUsView" class="nav-item nav-link">About us</a>
                    </div>
                    <a class="btn btn-primary px-3 d-none d-lg-flex">Leave Feedback</a>
                </div>
            </nav>
        </div>
        <!-- Navbar End -->
        <!-- Header Start -->
        <div class="container-fluid header bg-white p-0">
            <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                <div class="col-md-6 p-5 mt-lg-5">
                    <h1 class="display-5 animated fadeIn mb-4">II'S ABOUT <span class="text-primary">A PERFECT</span><strong style="color:orange"> TRIP</strong> TO REMEMBER</h1>
                    <p class="animated fadeIn mb-4 pb-2">
                        KARNEL provides you with the best search engines and daily-updated information about
                        every sight domestic and internationally. Hoping to bring you the best tour-planning experiences.
                    </p>
                    <a href="/Home/Admin/Sitemap" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Abous Karnel Travel Guide</a>
                </div>
                <div class="col-md-6 animated fadeIn">
                    <div class="owl-carousel header-carousel">
                        <div class="owl-carousel-item">
                            <img class="img-fluid" src="/img/carousel-1.jpg" alt="">
                        </div>
                        <div class="owl-carousel-item">
                            <img class="img-fluid" src="/img/carousel-2.jpg" alt="">
                        </div>
                    </div>
>>>>>>> origin/ky
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - KarnelTravels - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
