@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/home/Upload" method="post" enctype="multipart/form-data">
    <input type="file" name="files" multiple />
    <input type="submit" value="Up">
</form>