@{
    ViewBag.Title = "FormCkeditor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@model GetCar_Plane_Train;
<div>
    <a href="/admin/ViewCreateAdminTransport">Create</a>
</div>
<div>
    <a href="/admin/ViewUploadImageHotel">UpLoadImage</a>
</div>
<div class="row">

    @foreach(var item in Model.All)
    {
         <div class="card" style="width:250px;">
@*             <img class="card-img-top" style="height:280px" src="~/image/Travel/@item.Name" />
 *@            <div class="card-body">
                <h4 class="card-title">@item.Name</h4>
                <div class="text-muted card-subtitle">@item.Price</div>
               @Html.Raw(item.Description) 
                <button class="btn btn-default btn-sm">
                    <i class="fa fa-plus"></i>
                    <a href="/Admin/ViewEditAdminTransport?idt=@item.TravelId">Edit</a
                </button>
                
               
                 <button class="btn btn-default btn-sm">
                    <i class="fa fa-plus"></i>
                    <a href="/Admin/DeleteAdminTransport?idt=@item.TravelId">Delete</a
                </button>
            </div>
        </div>
    }
</div>