@{
    ViewBag.Title = "FormCkeditor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@model GetHotel_Res_Re;
<div>
    <a href="/admin/ViewCreateAdminHotel">Create</a>
</div>
<div>
    <a href="/admin/ViewUploadImageHotel">UpLoadImage</a>
</div>
<div class="row">

    @foreach(var item in Model.All)
    {
         <div class="card" style="width:250px;">
            <img class="card-img-top" style="height:280px" src="~/image/Hotel_Restaurant/@item.Imglink" />
            <div class="card-body">
                <h4 class="card-title">@item.Name</h4>
                <div class="text-muted card-subtitle">@item.Price</div>
               @Html.Raw(item.Description) 
                <button class="btn btn-default btn-sm">
                    <i class="fa fa-plus"></i>
                    <a href="/Admin/ViewEditAdminHotel?idt=@item.HrId">Edit</a
                </button>
               
                <button class="btn btn-default btn-sm">
                    <i class="fa fa-plus"></i>
                    <a href="/Admin/DeleteAdminHotel?idt=@item.HrId">Delete</a
                </button>
            </div>
        </div>
    }
</div>