@{
    ViewBag.Title = "FormCkeditor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@model GetCar_Plane_Train;
<div>
    <a class="btn btn-info" href="/admin/ViewCreateAdminTransport">Create</a> &nbsp;
    <a class="btn btn-info" href="/admin/ViewUploadImageHotel">UpLoad Image</a>
</div>
<br />
<div class="ibox">
    <div class="ibox-head">
        <h3 class="ibox-title">Transportation List</h3>
    </div>
   <div class="ibox-body">
       <div class="card-group">
            @foreach(var item in Model.All){
                <div class="col-md-3 mt-1">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title"><span><strong>Entity Name: </strong></span></h5>
                            <h6 class="card-title"><span style="color:navy">@item.Name</span></h6>
                            <hr />
                            <div class="text-muted card-subtitle"><span><strong>Estimate Price: </strong></span>@item.Price</div>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-info" href="/Admin/ViewEditAdminTransport?idt=@item.TravelId"><i class="fa fa-plus"></i> Edit</a>
                            <a class="btn btn-danger" href="/Admin/DeleteAdminTransport?idt=@item.TravelId"><i class="fa fa-plus"></i> Delete</a>
                        </div>
                    </div>
                </div>
            }
       </div>
   </div>
</div>
