@model KarnelTravels.Models.TblHotelRestaurant
@{
    ViewBag.Title = "FormCkeditor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create New Hotel</h2>

<form asp-action="CreateHotel" method="post" enctype="multipart/form-data" autocomplete="off" >
    <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" id="Name" name="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Price">Price:</label>
        <input type="number" id="Price" name="Price" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-lable">Spot</label>
        <select class="form-control form-control-lg" asp-for="SpotId" aria-describedby="basic-addon1"
                required>
            <option value="1">Nha trang</option>
            <option value="2">Da Lat</option>
            <option value="3">Vung Tau</option>
            <option value="4">TpHCM</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Description">Description:</label>
        <textarea id="Description" name="Description" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-lable">Status</label>
        <select class="form-control form-control-lg" asp-for="Status" aria-describedby="basic-addon1"
                required>
            <option >True</option>
            <option >False</option>
        </select>
    </div>
    <div class="form-group">
        <label for="files">Image:</label>
        <input type="file" id="files" name="files" class="form-control-file" multiple/>
    </div>
    <button type="submit" class="btn btn-primary">Create Hotel</button>
</form>
