@model KarnelTravels.Models.TblNews

@{
    ViewData["Title"] = "Delete News";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete News</h1>

<h3>Are you sure you want to delete this news item?</h3>
<div>
    <h4>News</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>

    <form asp-action="DeleteNews" method="post">
        <input type="hidden" asp-for="NewsId" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="AdminNewsView" class="btn btn-secondary">Cancel</a>
    </form>
</div>
