@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<marquee><h1>From Index Page</h1></marquee>
<ul>
    <li><a href="/Home/Index">Index page</a></li>
    <li><a href="/Home/ProductView">View All Products</a></li>
    <li><a href="/Home/NewsView">News View</a></li>
    <li><a href="/Home/AboutUsView">About Us View</a></li>
</ul>
<hr />
<marquee><h1>Tours And Pages</h1></marquee>
<ul>
    <li><a href="/Home/TravellingTourView">Tour Page</a></li>
    <li><a href="/Home/TravellingHotelView">Hotel Page</a></li>
    <li><a href="/Home/TravellingTransportView">Transport Page</a></li>
    <li><a href="/Home/TravellingSightView">Sight Page</a></li>
    <li><a href="/Home/TravellingPackageView">Package Page</a></li>
    <li><a href="/Home/TravellingRestaurantView">Restaurant Page</a></li>
</ul>
<hr/>
<marquee><h1>Admin</h1></marquee>
<ul>
    <li><a href="/Home/Login">Login For Admin</a></li>
    <li><a href="/Home/AdminProfile">Admin View</a></li>
</ul>