@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl py-5">
    <div class="container">
        <div class="tab-content">
            <h1>Tours And Pages - For Homepage - Default HREF is "/HOME"</h1>
            <p>Phần này chứa các trang thuộc view của USER</p>
            <ul>
                <li><a href="/Home/TravellingTourView">Tour Page</a></li>
                <li><a href="/Home/TravellingHotelView">Hotel Page</a></li>
                <li><a href="/Home/TravellingTransportView">Transport Page</a></li>
                <li><a href="/Home/TravellingSightView">Sight Page</a></li>
                <li><a href="/Home/TravellingPackageView">Package Page</a></li>
                <li><a href="/Home/TravellingRestaurantView">Restaurant Page</a></li>
                <li><a href="/Home/Index">Index page</a></li>
                <li><a href="/Home/ProductView">View All Products</a></li>
                <li><a href="/Home/NewsView">News View</a></li>
                <li><a href="/Home/AboutUsView">About Us View</a></li>
            </ul>
            <hr />
            <h1>Admin - For Administration View</h1>
            <p>Phần này chứa các trang thuộc view của ADMIN</p>
            <ul>
                <li><a href="/Admin/Login">Login For Admin</a></li>
                <li><a href="/Admin/AdminProfile">Admin View</a></li>
                <li><a href="/Admin/AdminSightView">Admin Sight View</a></li>
                <li><a href="/Admin/AdminSpotView">Admin Spot View</a></li>
                <li><a href="/Admin/AdminTourView">Admin Tour View</a></li>
                <li><a href="/Admin/AdminTransportView">Admin Transport View</a></li>
                <li><a href="/Admin/FeedbackOnComp">Feedbacks on Company (Admin)</a></li>
                <li><a href="/Admin/FeedbackOnObj">Feedbacks on Entities (Admin)</a></li>
            </ul>
        </div>
    </div>
</div>
