﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@model GetHotel_Res_Re;

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Create tour package</div>
                <div class="ibox-tools">
                    <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                </div>
            </div>
            <div class="ibox-body">
                <form id="frmData" action="/admin/CreateTourPackage" class="form-horizontal" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Name<span class="text-muted" style="font-size:10px">- Select name</span></label>
                            <input  class="form-control" name="Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Price<span class="text-muted" style="font-size:10px">- Select price</span></label>
                            <input type="number" class="form-control" name="TotalPrice">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6" id="date_1">
                            <label class="font-normal">Start Date <span class="text-muted" style="font-size:10px">- Select start date</span></label>
                            <div class="input-group date">
                                <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                <input class="form-control" type="date"  id="datepicker" name="StartDate">
                                <script>
                                    $(function () {
                                        $("#datepicker").datepicker();
                                    });

                                </script>
                            </div>
                        </div>
                        <div class="form-group col-md-6" id="date_2">
                            <label class="font-normal">End Date <span class="text-muted" style="font-size:10px">- Select end date</span></label>
                            <div class="input-group date">
                                <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                <input class="form-control" type="date" id="datepicker" name="EndDate">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Spot <span class="text-muted" style="font-size:10px">- Select departure spot</span></label>
                            <select class="form-control" name="spot">
                                <option selected>-- Please Select Spot --</option>
                                @foreach (var item in Model.tblSpots)
                                {
                                    <option value="@item.Id">@item.Id - @item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <input class="form-control" type="file" name="FileImg" multiple>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Description</label>
                            <textarea id="editor" class="form-control"></textarea>
                            <input type="hidden" name="mydata" id="mydata" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <button name="btnSave" id="btnSave" class="btn btn-info" type="submit">Submit changes</button>
                            <a class="btn btn-danger" asp-action="AdminTourPackage" asp-controller="Admin">Go back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
<script src="~/ckeditor/ckeditor.js" type="text/javascript"></script>

@section scripts {

    <script>
        CKEDITOR.replace('editor');
        //window.onload = function () {

        //};
        $(document).ready(function (e) {

            $("#btnSave").click(function (e) {
                e.preventDefault();
                var dt = CKEDITOR.instances['editor'].getData();
                $("#mydata").val(dt);
                $("#frmData").submit();
            });
        });
        var pathImg = "";
        window.onload = () => {
            var lsImage = document.querySelectorAll(".pic-rect>img");

            for (i = 0; i < lsImage.length; i++) {
                lsImage[i].onclick = (event) => {
                    var current_img = event.target;
                    pathImg = current_img.src;
                }
            }
            setInterval(() => {
                var q = document.querySelector("#cke_103_textInput");
                if (q != null) {
                    if (q.value == "") {
                        q.value = pathImg;
                        pathImg = "";
                    }

                }
            }, 100);
        }
    </script>
}